.button {
  background: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
