[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: initial;
  left: -50%; top: 0;
  background: #F2F0ED;
  color: #3C4860;
  text-align: center;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  pointer-events: none;
  opacity: 0;
  transition: 0.8s;
}
[data-tooltip]:hover::after {
  opacity: 1;
  top: 130%;
}
