.sidebar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  position: fixed;
  top: 51px;
  left: 0;
  z-index: 1000;
  width: 280px;
  height: calc(100% - 102px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #3C4860;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: auto;
}
