.menu__item_unselected {
  border-right: 1px dashed #D5AB74;
}

.menu__item_unselected::before {
  content: " ";
  position: absolute;
  top: 16px;
  right: -4px;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #D5AB74;
  background-color: #3C4860;
}
