.data-tooltip_style_header {
  position: relative;
}

.data-tooltip_style_header::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 60px;
  left: -20px; top: 36px;
  background-color: #3C4860;
  color: rgba(213, 171, 116, 1);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  padding: 0.5em;
  /* box-shadow: 2px 2px 5px rgba(213, 171, 116, 1); */
  border-radius: 3px;
  border: 1px dashed rgba(213, 171, 116, 1);
  pointer-events: none;
  /* opacity: 0; */
  transition: 0.8s;
  display: none;

}
.data-tooltip_style_header:hover::after {
  opacity: 1;
  top: 43px;
  left: -20px;
  display: block;
}
