.logo__image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border: 1px solid #F2F0ED;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  background-color: #8D919B;
}
