.root {
  margin: 0;
  padding: 0;
  background-color: rgba(242, 240, 237, 1);
  color: #F2F0ED;
  font-family: 'Inter', Arial, sans-serif;
  cursor: auto;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

/* W3C standard для Firefox */
  overflow-y: scroll;
  scrollbar-color: #8D919B #3C4860;
  scrollbar-width: thin;


  /* для Chrome/Edge/Safari */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;


  /*-webkit-scrollbar {
    height: 12px;
    width: 12px;

  -webkit-scrollbar-track {
    background: orange;
  }
  -webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 5px;
    border: 3px solid orange;
  }*/

}
