.menu__item_active {
  pointer-events: none;
}

.menu__item_active::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #D5AB74;
}

.menu__item_active::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 9px solid #3C4860;
}
