.menu__item_active {
  pointer-events: none;
}

.menu__item_active::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 0;

  /* width: 0; */
  /* height: 0; */
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 8px solid #F2F0ED;
  /* bottom: 6px; */
  /* left: auto; */
  /* right: 0; */

}
