.card__background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F2F0ED;
  width: inherit;
  border-radius: 6px;
  margin: -30px 0 0 -30px;
}

.card__background::after {
  content: "HTML 5, CSS 3, flexbox, grid";
  transform: rotate(-90deg);
  color: #D5AB74;
  position: absolute;
  bottom: 130px;
  right: -93px;
}
