.sidebar__button-cross {
  margin: 0;
  padding: 0;
  background: none;
  width: 30px;
  height: 30px;
  border: 1px dashed rgba(213, 171, 116, 0.8);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.sidebar__button-cross::before,
.sidebar__button-cross::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: rgba(213, 171, 116, 0.8);
  top: 13px;
  left: 4px;
}

.sidebar__button-cross::before {
  transform: rotate(45deg);
}

.sidebar__button-cross::after {
  transform: rotate(-45deg);
}
